@import 'tailwindcss';
/*
  ---break---
*/
@layer utilities {
  .blk {
    color: black;
  }
  .bg-blk {
    background-color: black;
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #0000;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/*
  ---break---
*/
:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  ---break---
*/
.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  ---break---
*/
@keyframes infinite-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50% - 8px));
    transform: translateX(calc(-50% - 8px));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}
/* Add your custom styles here */

.animate-typing {
   /* Prevents text wrapping */
  border-right: 2px solid black; /* Simulates the cursor */
  animation: typing 2s steps(30, end), cursor-blink 0.4s step-end infinite alternate;
}

@keyframes cursor-blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes infinite-scroll-reverse {
  0% {
    transform: translateX(calc(-50% - 8px));
  }

  100% {
    transform: translateX(0);
  }
}

.animate-infinite-scroll-reverse {
  animation: infinite-scroll-reverse 20s linear infinite;
}
@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/
@layer base {}

@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;500;600;700&display=swap');

/*
  ---break---
*/


@layer utilities {
  .text-content {
    color: #444545;
    font-family: 'Unna', serif;
  }
}

@layer base {
  body {
    font-family: 'Unna', serif;
  }
}

/*
  ---break---
*/

